# Flipkart EDA assignment

## TODO: Upload csv file before moving to next

In [0]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Flipkart Data Engineering").getOrCreate()
file_path = '/FileStore/tables/Flipkart.csv'
flipkart_df = spark.read.csv(file_path, header=True, inferSchema=True)

In [0]:
flipkart_df.printSchema()
flipkart_df.count()

root
 |-- id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- Rating: double (nullable = true)
 |-- maincateg: string (nullable = true)
 |-- platform: string (nullable = true)
 |-- actprice1: integer (nullable = true)
 |-- norating1: integer (nullable = true)
 |-- noreviews1: integer (nullable = true)
 |-- star_5f: integer (nullable = true)
 |-- star_4f: integer (nullable = true)
 |-- star_3f: integer (nullable = true)
 |-- star_2f: integer (nullable = true)
 |-- star_1f: integer (nullable = true)
 |-- fulfilled1: integer (nullable = true)

Out[2]: 5244

In [0]:
flipkart_df.show(5)

+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|   id|               title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| 2242|Casuals For Men  ...|   3.8|      Men|Flipkart|      999|    27928|      3543|  14238|   4295|   3457|   1962|   3976|         1|
|20532|Women Black Flats...|   3.9|    Women|Flipkart|      499|     3015|       404|   1458|    657|    397|    182|    321|         1|
|10648|Women Gold Wedges...|   3.9|    Women|Flipkart|      999|      449|        52|    229|     70|     71|     33|     46|         1|
|20677|Men's Height Incr...|   3.9|      Men|Flipkart|     2999|      290|        40|    141|     51|     49|     17|     32|         1|
|12593|Loafers For Men  ...|   3.9|      Men|Flipkart|      999|     2423|       326|   1265|    414|    293|    143|    308|         0|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 5 rows

In [0]:
# Display all category names
flipkart_df.select("maincateg").distinct().show()

+---------+
|maincateg|
+---------+
|     null|
|      Men|
|    Women|
+---------+

In [0]:
# Filter products with rating > 4.5 and more than 1000 reviews

highly_rated_df = flipkart_df.filter((flipkart_df["Rating"] > 4) & (flipkart_df["noreviews1"] > 100))
highly_rated_df.select("id", "title", "Rating", "noreviews1").show()

+-----+--------------------+------+----------+
|   id|               title|Rating|noreviews1|
+-----+--------------------+------+----------+
|13859|Women Black Wedge...|   4.2|       487|
|19453|Denill Ankle Leng...|   4.1|       961|
| 3205|     SFG-23 Slippers|   4.1|      1598|
| 7625|White casual, gym...|   4.2|       381|
|17791|Synthetic Leather...|   4.2|       182|
|15762|Running Shoes For...|   4.1|      8254|
|15247|SM-484 Casuals Fo...|   4.2|       436|
|20247|Women Black Heels...|   4.1|       182|
|10655|Women Brown Wedge...|   4.1|       178|
|20918|GO WALK 5-SPARROW...|   4.3|       106|
|16193|crocs Unisex's Ra...|   4.3|       661|
| 8485|Men Grey Clogs Sa...|   4.1|       328|
| 7561|Men Navy Sports S...|   4.2|      2103|
| 9249|Women Black Wedge...|   4.2|       487|
|20597|Sneakers For Men ...|   4.1|       597|
|11078|Men Black Clogs S...|   4.2|      1098|
|13151|Walking Shoes For...|   4.1|       938|
|15716|Mojaris For Men  ...|   4.1|       106|
|20324|Women Pink Wedges...|   4.2|       232|
| 8184|              Slides|   4.1|       141|
+-----+--------------------+------+----------+
only showing top 20 rows

In [0]:
# Display Products in 'Men' category that are fulfilled
men_fulfilled = flipkart_df.filter((flipkart_df["maincateg"] == "Men") & (flipkart_df["fulfilled1"] == 1))
men_fulfilled.select("id", "title", "Rating", "fulfilled1").show()

+-----+--------------------+------+----------+
|   id|               title|Rating|fulfilled1|
+-----+--------------------+------+----------+
| 2242|Casuals For Men  ...|   3.8|         1|
|20677|Men's Height Incr...|   3.9|         1|
|10680|Combo Pack Of 2 C...|   3.9|         1|
|11579|MOCCASSIN Slip On...|   3.8|         1|
|12260|Long OfficeWear C...|   3.9|         1|
| 3205|     SFG-23 Slippers|   4.1|         1|
|14489|Dark Brown Leathe...|   3.9|         1|
|10206|Long OfficeWear C...|   3.9|         1|
| 8920|Monk Strap For Me...|   4.2|         1|
| 9762|    Men Brown Sandal|   4.6|         1|
|14490|Men Hawaii Flip F...|   3.7|         1|
|15546|Men Blue Clogs Sa...|   3.7|         1|
|10068|Java 2 IDP Flip F...|   4.1|         1|
| 6052|Derby For Men  (B...|   2.8|         1|
|11469|Combo pack of 2 s...|   3.6|         1|
|20918|GO WALK 5-SPARROW...|   4.3|         1|
| 2592|Genuine Leather F...|   3.9|         1|
|14541|Genuine Leather F...|   3.9|         1|
| 7561|Men Navy Sports S...|   4.2|         1|
| 3369|    Men Brown Sandal|   3.9|         1|
+-----+--------------------+------+----------+
only showing top 20 rows

In [0]:
# Dsiplay number of products per category

flipkart_df.groupBy("maincateg").count().show()

+---------+-----+
|maincateg|count|
+---------+-----+
|     null|   67|
|      Men| 2145|
|    Women| 3032|
+---------+-----+

In [0]:
# Display Average rating per category
flipkart_df.groupBy("maincateg").avg("Rating").show()

+---------+------------------+
|maincateg|       avg(Rating)|
+---------+------------------+
|     null|             4.225|
|      Men|3.9662970106075246|
|    Women|4.0416582064297915|
+---------+------------------+

In [0]:
# Dsiplay Category with highest average number of reviews

flipkart_df.groupBy("maincateg").avg("noreviews1").orderBy("avg(noreviews1)", ascending=False).show(1)

+---------+-----------------+
|maincateg|  avg(noreviews1)|
+---------+-----------------+
|      Men|759.6554778554779|
+---------+-----------------+
only showing top 1 row

In [0]:
# Top 5 products with highest price. display product name and price

flipkart_df.select("title", "actprice1").orderBy("actprice1", ascending=False).show(5)

+--------------------+---------+
|               title|actprice1|
+--------------------+---------+
|GEL-QUANTUM 360 K...|    15999|
|Women Orange Spor...|    12999|
|Hybrid Astro Runn...|    10999|
|GT-2000 5 (D) Run...|    10999|
|DEERUPT RUNNER W ...|     9999|
+--------------------+---------+
only showing top 5 rows

In [0]:
# Display Min, max, and avg price per category


from pyspark.sql.functions import min, max, avg
price_stats = flipkart_df.groupBy("maincateg").agg(
    min("actprice1").alias("min_price"),
    max("actprice1").alias("max_price"),
    avg("actprice1").alias("avg_price")
)
price_stats.show()

+---------+---------+---------+------------------+
|maincateg|min_price|max_price|         avg_price|
+---------+---------+---------+------------------+
|     null|      499|     5999|1574.7313432835822|
|      Men|      139|    10999|  1455.86013986014|
|    Women|      162|    15999|1319.7081134564644|
+---------+---------+---------+------------------+

In [0]:
# Display number of nulls in each column

# Display number of nulls in each column
from pyspark.sql.functions import col, sum
null_counts = flipkart_df.select([
    sum(col(c).isNull().cast("int")).alias(c) for c in flipkart_df.columns
])
null_counts.show()

+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| id|title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|  0|    0|   203|       67|       0|        0|        0|         0|     68|      0|      0|      0|    186|         0|
+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+

In [0]:
# calculate and display the category name, number of fulfilled, and unfulfilled products

# calculate and display the category name, number of fulfilled, and unfulfilled products

from pyspark.sql.functions import count, when

flipkart_df.groupBy("maincateg").agg(
    count(when(col("fulfilled1") == 1, True)).alias("fulfilled_count"),
    count(when(col("fulfilled1") == 0, True)).alias("unfulfilled_count")
).show()

+---------+---------------+-----------------+
|maincateg|fulfilled_count|unfulfilled_count|
+---------+---------------+-----------------+
|     null|             40|               27|
|      Men|           1352|              793|
|    Women|           1778|             1254|
+---------+---------------+-----------------+

In [0]:
# Display Count of products per category

flipkart_df.groupBy("maincateg").count().show()

+---------+-----+
|maincateg|count|
+---------+-----+
|     null|   67|
|      Men| 2145|
|    Women| 3032|
+---------+-----+

In [0]:
# Display Average rating per category

from pyspark.sql.functions import avg

flipkart_df.groupBy("maincateg").agg(avg("Rating").alias("avg_rating")).show()

+---------+------------------+
|maincateg|        avg_rating|
+---------+------------------+
|     null|             4.225|
|      Men|3.9662970106075246|
|    Women|4.0416582064297915|
+---------+------------------+

In [0]:
# Display Category with highest average number of reviews

from pyspark.sql.functions import avg

flipkart_df.groupBy("maincateg").agg(avg("noreviews1").alias("avg_reviews")).orderBy("avg_reviews", ascending=False).show(1)

+---------+-----------------+
|maincateg|      avg_reviews|
+---------+-----------------+
|      Men|759.6554778554779|
+---------+-----------------+
only showing top 1 row

In [0]:
# Display Bar chart of product count per category

# Use Databricks UI to visualize this as a bar chart
category_counts = flipkart_df.groupBy("maincateg").count()
category_counts.display()

maincateg,count
null,67
Men,2145
Women,3032

Databricks visualization. Run in Databricks to view.

In [0]:
# Bar chart of average rating per category

from pyspark.sql.functions import avg

category_avg_ratings = flipkart_df.groupBy("maincateg").agg(avg("Rating").alias("avg_rating"))
category_avg_ratings.display()

maincateg,avg_rating
null,4.225
Men,3.9662970106075246
Women,4.0416582064297915

In [0]:
# Display Bar chart of total number of reviews per category
from pyspark.sql.functions import sum

category_total_reviews = flipkart_df.groupBy("maincateg").agg(sum("noreviews1").alias("total_reviews"))
category_total_reviews.display()

maincateg,total_reviews
null,14084
Men,1629461
Women,535290

In [0]:
# Display product name and 5 star rating for those products which have highest 5 star rating

from pyspark.sql.functions import col

highest_5star_rating = flipkart_df.orderBy(col("star_5f").desc()).select("title", "star_5f").first()
highest_5star_rating

Out[33]: Row(title='Jio-13 Running Shoes For Men\xa0\xa0(Black, Grey)', star_5f=151193)